[submodule "Universal_Robots_ROS2_Driver"]
	path = Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = humble
[submodule "Universal_Robots_ROS2_Description"]
	path = Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
	branch = humble
[submodule "Universal_Robots_Client_Library"]
	path = Universal_Robots_Client_Library
	url = https://github.com/UniversalRobots/Universal_Robots_Client_Library.git
[submodule "Universal_Robots_ROS2_Gazebo_Simulation"]
	path = Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation.git
	branch = humble
