<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mixed">

  <!-- robot name parameter -->
  <xacro:arg name="name_robot1" default="ur5e"/>
  <!-- parameters -->
  <xacro:arg name="prefix_robot1" default="" />

  <xacro:arg name="name_robot2" default="ur3e"/>
  <!-- parameters -->
  <xacro:arg name="prefix_robot2" default="" />
  <xacro:include filename="$(find main_simulation)/srdf/ur_macro.srdf.xacro"/>

  <xacro:ur_srdf name="$(arg name_robot1)" prefix="$(arg prefix_robot1)"/>
  <xacro:ur_srdf name="$(arg name_robot2)" prefix="$(arg prefix_robot2)"/>

</robot>
